.container{
    background-color: aliceblue;
    max-width: 500px;
    max-height: 700px;
    padding: 50px 20px;
    width: 100%;
    width: 400px ;
    box-shadow: 1px 1px 10px rgba(20, 22, 22, 0.5);
    border-radius: 5px;

}
.container-home{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;

}

form input, form label{
    font-size: 16px;
    padding: 5px 5px;
}

form input{
    margin-bottom: 20px;
}

.btn{
    background-color: #001d3d;
    padding: 5px 15px;
    color: white;
    font-size: 18px;
    min-width: 150px;
    margin: 0 auto;
    border-radius: 100px;

    transition: backgroundColor 5s; /*NO SIRVE*/
}

.btn:hover{/*Al pasar mause ensima activa el css*/
    background-color: darkgreen;
    cursor: pointer;/*Hace que cursor se ponga forma manito*/
}